<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LeftBar</title>
</head>
<body>
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">GENERAL</div>
                <a class="nav-link" th:href="@{/index}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chalkboard-teacher"></i></i></div>
                    Dashboard
                </a>
                <a class="nav-link" th:href="@{/profile}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                    Profile
                </a>
                <div class="sb-sidenav-menu-heading">DETAILS</div>

                <div class="sb-sidenav-menu-heading">ADMINISTRATION</div>

                <div class="sb-sidenav-menu-heading">BIERES </div>
                <a class="nav-link" th:href="@{/beers}">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></i></div>
                    liste des bières
                </a>
                <a class="nav-link" th:href="@{/add-beer}">
                    <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></i></div>
                    Ajout bière
                </a>
                <div class="sb-sidenav-menu-heading">BRASSERIES </div>

                <a class="nav-link" th:href="@{/breweries}">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></i></div>
                    liste des brasseries
                </a>
                <a class="nav-link" th:href="@{/add-brewery}">
                    <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></i></div>
                    Ajout brasserie
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Connecté en tant que:</div>
            <span th:text="${session.login}"></span>
            <a th:href="@{/logout}">Déconnexion</a>
        </div>
    </nav>
</div>
</body>
</html>
